body {
  font-family: Helvetica, Arial, sans-serif;
}

img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.8;
}

a {
  color: #885df1;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #fde38d;
}

.form-container {
  opacity: 0.8;
  margin-bottom: 30px;
  border: 1px solid #fde38d;
  border-radius: 20px;
  box-shadow: 0px 20px 60px rgba(240, 139, 39, 0.08);
  padding: 40px 20px;
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  font-weight: bold;
  margin-top: 5px;
  font-size: 13px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 40px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: #335d71;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: #fff;
  opacity: 0.7;
  padding: 20px;
  line-height: 2;
  border-radius: 6px;
  border-left: 3px solid #fde38d;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

.hidden {
  display: none;
}

.poem strong {
  color: #885df1;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

footer a {
  color: #fde38d;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
